.git/
.gitignore
.github/
examples/
scripts/
docs/
tools/
build/
*.md
!examples/
!examples/docker/
!examples/docker/server/
!examples/docker/server/webui/
!examples/docker/server/webui/**
!tools/gguf_convert.cpp
